span{
    /* background-color: pink; */
    border: 2px solid black;
    height: 100px;
    width: 200px;
    padding:50px; /*only left right is being set in this case*/
    margin: 20px;
}
div{
    border: 2px solid black;
    height: 100px;
    width: 200px;
    padding:50px; /*only left right is being set in this case*/
    margin: 20px;

}