#outer{
    height: 200px;
    width: 70px;
    border: 2px solid black;
    background-color: black;
}
.inner{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
}
#red{
    background-color: red;
}
#yel{
    background-color: yellow;
}
#gre{
    background-color: green;
}