div{
    height: 200px;
    width: 500px;
    background-color: violet;
    border-width: 5px;
    border:2px solid black;
    /* border-right: 5px dashed navajowhite;
    border-radius: 5px; */
    border-radius: 10px;
    padding-top: 10px;
    margin: 25px;
}
h1{
    border-width: 2px;
    border-style: dashed;
    border-color: green;
    border-radius: 11px;
}
button{
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
}