<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
</head>
<body>
    <H1>THIS IS THE HOME PAGE</H1>
    <h3><%= 1 + 2 %></h3>
    <h3><%= "adnan".toUpperCase()%></h3>
    <h2><%=["adnan","manan","ranan"][2] %></h2>
    <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim assumenda beatae quia possimus nobis, optio cupiditate, minima magnam a unde molestiae laboriosam hic eum sunt ad! Cumque nulla quas quaerat.
    Enim fuga dolor quas? Voluptatibus modi aut ipsum provident libero maiores recusandae et nihil, laborum perspiciatis tenetur repellendus omnis eos accusantium hic. Nesciunt nam reprehenderit tempore aperiam, enim consequuntur asperiores!
    Perferendis consectetur illo repudiandae modi tenetur incidunt perspiciatis rerum enim placeat possimus? Reprehenderit sed odit laudantium nesciunt ratione quas ab, aut vitae alias animi voluptate dolore dignissimos illo amet blanditiis!
    Odit maxime esse rerum eaque, deserunt similique ab minus. Rem doloremque reprehenderit esse! Saepe porro perferendis laborum odio minus amet at, culpa ducimus impedit laudantium vero animi molestiae voluptatum magnam?
    Itaque ipsum recusandae reprehenderit quibusdam quo voluptatum impedit. Eligendi fugit distinctio dignissimos ducimus temporibus a non culpa praesentium quidem eius laborum qui repellendus odio exercitationem, commodi magni reiciendis, soluta sequi!
    Saepe, repudiandae id neque, in illo provident rem consequatur numquam vel sed aperiam, similique earum omnis delectus amet nam? Tenetur dolorem eum obcaecati harum reiciendis quasi accusantium officiis rem eos?
    Laborum voluptates perspiciatis aspernatur. Sed quaerat et cupiditate nobis illo esse est debitis dolorem quas vel magni optio, corporis pariatur nostrum qui ut ex iusto minus! Officiis in reprehenderit facilis.
    Fuga fugit animi quas aliquam, quisquam tempore in ex ad cumque veniam ullam sequi ipsam nisi eaque, ea culpa illo quia atque, unde repellat accusantium pariatur quod aperiam! Corporis, autem?
    Molestias explicabo nostrum fuga ducimus maiores earum minus sit repellat, id quidem ea natus blanditiis architecto quod? Laborum, et alias. Aperiam ipsa doloribus necessitatibus quia sit corporis debitis, quasi voluptatum!
    Quibusdam accusantium itaque dignissimos delectus, cum eaque quas nulla ab laborum optio aspernatur beatae vero eius tempora voluptas expedita ipsa deleniti sequi pariatur. Doloribus dolore nemo sunt esse, perspiciatis unde.
    Reiciendis distinctio quidem veniam nam recusandae minima eaque illum tenetur soluta corporis consequatur sequi, aut hic fuga error necessitatibus veritatis? Corporis ipsam, ab cupiditate fugiat eum aut. Mollitia, dolorem alias!
    Consequatur consectetur, nihil laboriosam quibusdam illum iusto laudantium eius amet minima sint excepturi. Beatae quasi eius neque? Architecto aliquam in, nobis at dolores repudiandae dignissimos obcaecati voluptatem debitis ratione quae!</P>
    <button>click me</button>
</body>
</html>