.box{
    height: 100px;
    width: 300px;
    background-color: pink;
    /* 
    animation-name: widthAnime;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay:0 ;
    animation-iteration-count:3 ;
    /* it can be infinite */
    /* animation-direction:normal ; */ 
    animation:ColorAnime 4s ease-in 0s 2 normal;
}

@keyframes fontAnime{
    from{
        font-size: 20px;
        background-color: red;
    }
    to{
        font-size: 40px;
        background-color: aqua;
        border-radius: 3px;
    }
}
@keyframes ColorAnime {
    0%{
        background-color: green;
    }
    50%{
        background-color: red;
    }
    100%{
        background-color: black;
    }
}
@keyframes widthAnime {
    from{
        width: 10px;
        background-color: red;
    }
    to{
        width: 400px;
        background-color: red;
        border-radius: 15px;
    }
}