#container{
    height: 600px;
    width: 80%;
    background-color: azure;
    margin:10px auto;
    border: 2px solid black;
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    justify-content: flex-start;
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    align-content: flex-start;
}
h1{
    text-align: center;
}
#org{
    /* align-self:flex-end ; */
    /* flex-basis: 50px; */
    /* flex-grow: 1; */
    flex-shrink: 1;
}
#blue{
    /* flex-basis: 400px; */
    /* flex-grow: 3;
    max-width: 400px; */
    /* min-width: 410px; */
    flex-shrink: 3;
}
#container div{
    height: 100px;
    width: 300px;
    color:white;
    text-align: center;
    font-size: 1.5em;
}