.card{
    width: 200px;
    border: 2px solid rgb(18, 18, 18);
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px black;
    transition: 2s;
}
.desc{
    padding: 0 4px 0 5px;
}
#men{
    width: 70%;
    border-radius: 5px 5px 0 0 ;
}
#women{
    width: 67%;
    border-radius: 5px 5px 0 0 ;

}
.card:hover{
    box-shadow: 0 8px 16px black;
}