/* h3{
    text-align: center;
}
body{
    text-align: center;
}
div{
    height: 100px;
    width: 550px;
    border: 1px solid black;
    margin: auto;
} */

/* .box{
    height: 150px;
    width: 400px;
    background-color: green;
    border: 1px solid red ;
} */