*{
    font-family: 'Courier New', Courier, monospace;
}
h3,
h1{
    color: #b92b27;
}
#login{
    background-color: white;
}
#signup{
    background-color: #b92b27;
    color: white;
}
.upvote{
    background-color: green;
    color: aliceblue;
}
.follow{
    color: purple;
    background-color: yellow;
}
nav a{
    color: palevioletred;
}
p+h3{
    text-decoration: underline;
}
.upvote+button{
    background-color: cornflowerblue;
    color: darkblue;
} 
div>input{
    background-color: darksalmon;

} 
input[type = "text"]{
    color: green;
}
input[type = "password"]{
    color: red;
}
input[type]{
    background-color:ghostwhite;
}
/* hover pseudo class */
button:hover{
    background-color: black;
    color: white;
}
h3:hover{
    text-decoration: overline;
}
/* active pseudo class */
button:active{
    background-color: hotpink;
    color: black;
}
p:active {
    font-weight: bold;
    color: darkgreen;
}
/* checked pseudo class */
input[type="radio"]:checked + label{
    color: red;
    font-weight: bold;
}
div:nth-of-type(2n){
    background-color: greenyellow;
}
/* pseudo elements */
h1::first-letter{
    color: pink;
}
p::first-line{
    color: purple;
}
p::selection{
    background-color: rgb(179, 205, 50);
}